<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rubychina.app.activities" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="com.rubychina.app.util.TopApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.rubychina.app.activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.rubychina.app.activities.MainActivity" >
        </activity>
        <activity
            android:name=".TopicDetailsActivity"
            android:label="@string/title_activity_topic_details" >
        </activity>
    </application>

</manifest>
